
<div class="">
  <h1>Wildlife Tracker</h1>
</div>

<div class="container jumbotron">
  <div class="Animals">
    <a href="/nonendanger">Animal</a>
  </div>
  <div class="Endanger">
    <a href="/endanger">Endanger Animal</a>
  </div>
</div>
