
<div class="">
  <h1>Wildlife Tracker</h1>
</div>

<div class="container jumbotron">
  <div class="Clients">
    <a href="/animal">Animal</a>
  </div>
  <div class="Stylist">
    <a href="/endanger-animal">Endanger Animal</a>
  </div>
</div>
